@import './libs/normailze.scss';

@import './utils/variables.scss';

@import './utils/mixins.scss';

@import './utils/keyframes.scss';

@import './base/typography.scss';

@import './components/btn.scss';

@import './layouts/header.scss';

@import './layouts/footer.scss';

// General styles

html,
body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: $primary_color;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 2rem;
}

// index.html

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.input_text,
.input_password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

#emailErrorMsg {
    color: red;
}

#passwordErrorMsg {
    color: red;
}

#password2ErrorMsg {
    color: red;
}

#bad_login {
    font-size: large;
    text-align: center;
    color: red;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

//fight.html

header {
    @include flex_center;
}

#form_input_fight {
    @include flex_center;
    gap: 4rem;
}

.input_field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title_fight {
    @include flex_center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.button {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
}

.span_stats {
    @include flex_center;
    padding-top: 1.5rem;
}

#damage_taken {
    @include flex_center;
    font-size: 1.6rem;
    color: brown;
}

.span_life {
    @include flex_center;
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(50, 112, 19);
}

.game_over {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#win {
    color: forestgreen;
}

#lose {
    color: brown;
}

// creation_character.html

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    &__procedure {
        @extend .form;
        text-align: center;
        color: forestgreen;
        font-size: large;
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }
    &__input {
        min-width: 100px;
    }
    &__button {
        padding: 1rem;
        margin: 2rem;
    }
}

#nameErrorMsg {
    color: brown;
}

#abilityErrorMsg {
    color: brown;
}

#staminaErrorMsg {
    color: brown;
}

#luckErrorMsg {
    color: brown;
}

// character_sheet.html

fieldset {
    border: 1px solid black;
    margin: 1rem;
}

.skills {
    display: flex;
    flex-direction: row;
    margin-top: 2.4rem;
    &__button {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 1rem;
        margin-top: -1rem;
    }
    &__add {
        margin-top: 1.5rem;
    }
}

.skills__radio {
    margin-right: 1rem;
}

.field_name {
    width: 40%;
    max-height: 4.5rem;
    margin: auto;
    &__name {
        text-transform: capitalize;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        margin-top: 0.2rem;
    }
}

.field_stats {
    padding: 3rem;
}

legend {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.character_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.character {
    display: flex;
    flex-direction: row-reverse;
    place-content: end center;
    margin-top: 1rem;
    &__left {
        min-width: 50%;
    }

    &__right {
        min-width: 30%;
        &__field {
            position: relative;
            min-height: 58em;
        }
    }
}

.gear {
    &__items {
        position: relative;
        margin-top: 1rem;
        &__unit {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 3rem;
        }
        &__quantity {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &__items-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.item {
    display: flex;
    flex-direction: column;
}
