@import './libs/normailze.scss';

@import './utils/variables.scss';

@import './utils/mixins.scss';

@import './utils/keyframes.scss';

@import './base/typography.scss';

@import './components/btn.scss';

@import './layouts/header.scss';

@import './layouts/footer.scss';

// General styles

html,
body {
    margin-left: auto;
    margin-right: auto;
    background-color: $primary_color;
    display: flex;
    flex-direction: column;
}

// index.html

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

// character_sheet.html

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inventory_input {
    width: 2rem;
}

//fight.html

header {
    @include flex_center;
}

#form_input_fight {
    @include flex_center;
    gap: 4rem;
}

.input_field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title_fight {
    @include flex_center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.button {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
}

.span_stats {
    @include flex_center;
    padding-top: 1.5rem;
}

#damage_taken {
    @include flex_center;
    font-size: 1.6rem;
    color: brown;
}

.span_life {
    @include flex_center;
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(50, 112, 19);
}

.game_over {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#win {
    color: forestgreen;
}

#lose {
    color: brown;
}
